# Python environments
.python-version
.venv

# Build and distribution
dist
__pycache__

# Environment and configuration
*.env
/.coverage

# Project files
/TODO.md
/Test_Generator.md
tmp_*

# System and IDE
.DS_Store
.cache/
.vscode/

# Logs
*.log

# Cache
.cache/
.pytest_cache/
.ruff_cache/
